actor: FrontTester
modules:
  enabled:
    - Asserts
    - REST
    - PhpBrowser
    - Yii2:
        part: [ORM, FIXTURE]
        transaction: false
  config:
    PhpBrowser:
      url: 'http://saas.ru'
    REST:
      depends: PhpBrowser
      url: 'http://saas.ru'
